# Ignore Python environments, uploads, and big files
venv/
server/venv39/
server/uploads/
*.dll
*.lib
*.mp4
*.pdf
server/node_modules/
server/logs/
client/node_modules/
# Environment files
.env
*.env

# Logs
logs/
server/logs/
*.log

# Sensitive config
server/config/config.json
