/* interested.css */

.interested9 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #175d69 23%, #07142b 95%);
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 100vh; /* Ensure full viewport height */
}

.offer-container9 {
  width: 80%;
  padding: 20px;
  background-color: #c8d0d2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}

.offer-container9 h2 {
  text-align: center;
  color: #175d69;
  margin-bottom: 20px;
}

.button-container9 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.job-seeker9 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.job-seeker9 div {
  margin: 5px 0;
}

.job-seeker9 div.nom,
.job-seeker9 div.prenom {
  font-weight: bold;
  font-size: 1.2em;
}

.offer-container9 p {
  text-align: center;
  color: #888;
}

.goback9 {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #df9500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.goback9:hover {
  background-color: #0e3c46;
}

.text99 {
  font-weight: bold;
}
