body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #175d69 23%, #07142b 95%);
    color: #000;
}

.backButton6 {
    background-color: #df9500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 3px;
}

.backButton6:hover {
    opacity: 0.8;
}

.jobOfferContainer6 {
    width: 60%;
    margin: 0px auto;
    background-color: #e6e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    color: #fff;
}

.jobOfferDetail6 {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #000;
}

.likeButton6 {
    background-color: #df9500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
}

.likeButton6:hover {
    opacity: 0.8;
}
